/* ==UserStyle==
@name           skarnik.by: black night
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("skarnik.by") {
	body {
		padding-top: 0;
		background: #000;
	}

	/* Examples */
	[color='5f5f5f'] {
		color: #da9;
	}

	p,
	h1
	{
		color: #bbb;
	}

	.row-fluid {
		margin-bottom: 10px;
	}

	.row-fluid .span8 {
		width: 100%;
	}

	.logo-new,
	hr
	{
		display: none !important;
	}

	a {
		color: lightblue;
	}

	a:hover {
		color: lightblue;
		font-style: underscore;
	}

	/* Target word */
	[color='0000A0'] {
		color: #99f;
	}

	/* Author of a quote */
	[color='151B54'] {
		color: #997;
	}

}
